@{
    var urlimage = (string)ViewBag.Foto;
    string urlimagex = urlimage;
}
<img src="@urlimagex" alt="Image" style="width:500px;height:auto;object-fit: contain;" />
<div class="row">
    <div class="col-md-12" style="text-align:right">
        
        <button class="btn btn-warning shiny" type="button" id="btnCancel" data-dismiss="modal">Cancelar</button>
    </div>
</div>