<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="ERP.Admin" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="DefaultPrinter" value="GP-L80160 Series" />
    <add key="Ftpuser" value="web" />
    <add key="Ftppass" value="web" />
    <!--Almacen Tienda-->
    <add key="FkAlmaPrinc" value="1" />
    <!--Cliente Generico-->
    <add key="FkClieGenerico" value="1" />
    <!--Valor Igv-->
    <add key="ValorIgv" value="18" />
    <!--Movimiento_Tipo-->
    <add key="MoviTipo_Compra" value="1" />
    <add key="MoviTipo_Venta" value="2" />
    <add key="MoviTipo_SalidaTraslado" value="3" />
    <add key="MoviTipo_IngresoTraslado" value="4" />
    <add key="MoviTipo_IngresoNotaCredito" value="5" />
    <add key="MoviTipo_SalidaNotaCredito" value="6" />
    <!--comprobante_Tipo-->
    <add key="CompTipo_Factura" value="2" />
    <add key="CompTipo_GuiaRemision" value="3" />
    <add key="CompTipo_NotaCredito" value="5" />
    <add key="CompTipo_NotaDebito" value="19" />
    <add key="CompTipo_Cotizacion" value="6" />
    <!--Medio de Pago-->
    <add key="MedioPago_Efectivo" value="1" />
    <add key="MedioPago_Cheque" value="2" />
    <add key="MedioPago_Deposito" value="3" />
    <add key="MedioPago_Tarjeta" value="4" />
    <add key="MedioPago_LineaCredito" value="5" />
    <add key="MedioPago_NotaCredito" value="6" />
    <add key="ParamEmailFactElect" value="EMAIL_FACT_ELECTRONICA" />
    <add key="Ftpstring" value="ftp://localhost/" />
    <add key="Ftppersonal" value="fotopersonal" />
    <add key="Ftpderechohabiente" value="derechohabiente" />
    <add key="Ftpotrosdocs" value="otrosdocpersonal" />
    <add key="Ftptareos" value="tareos" />
    <add key="Ftpvehiculos" value="vehiculos" />
    <add key="VirtualFolderstring" value="http:///uploads/" />
    <!--<add key="Uristring" value="http://localhost:5000/" />-->
    <add key="Uristring" value="http://192.168.1.3:5000/" />
    <add key="MigoToken" value="4c689477-72ae-405d-9b13-9fde3be8bc8c-86d27248-30da-482d-8a52" />
    <add key="ApiMigo" value="https://api.migoperu.pe/api/v1/" />
    <add key="ApiRuc" value="https://api.migoperu.pe/api/v1/ruc" />
    <add key="ApiDni" value="https://api.migoperu.pe/api/v1/dni" />
    <add key="logo" value="/vilocrusac/assets/img/vilocrusac.png" />
    <add key="logohorizontal" value="/vilocrusac/assets/img/vilocrusachorizontal.png" />
    <add key="UrlProduccion" value="vilocrusac" />
    <add key="ShortName" value="VILO" />
    <add key="logoreport" value="~/img/reportes/vilocrusac.jpg" />
    <add key="EmpreName" value="VILOCRU S.A.C." />
    <add key="EmpreRuc" value="20529914718" />
    <add key="EmpreDire" value="Mza. 246 Lote. 03 Z.I. Zona Industrial Piura (a Espaldas de Agencia Eppo)" />
    <add key="BaseDatos" value="vilocru" />
    <add key="BaseUser" value="sa" />
     <add key="BaseClave" value="V1l0cru2019" />
    <!--<add key="BaseUrl" value="localhost\VILOCRU" />-->
    <add key="BaseUrl" value="192.168.1.3\VILOCRU" />
    <!--<add key="BaseClave" value="Al22xis84" />
    <add key="BaseUrl" value="JARVIS_SERVER"/>-->
    <add key="NubefactToken" value="" />
    <add key="NubefactRuta" value="https://api.nubefact.com/api/v1/3d9de81f-2141-41d3-b365-6d01b1e991b8" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" requestLengthDiskThreshold="240576" />
    <customErrors mode="Off" />
    <globalization culture="es-PE" uiCulture="es-PE" />
    <sessionState timeout="300" />
    <pages>
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".json" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode" />
    </handlers>-->
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
      <!--<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />-->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExtreme.AspNet.Data" publicKeyToken="982f5dab1439d0f7" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers />
  </entityFramework>
  <bundleTransformer xmlns="http://tempuri.org/BundleTransformer.Configuration.xsd">
    <core>
      <css>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="false" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js>
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
  </bundleTransformer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--<devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Metropolis" customThemeAssemblies="" baseColor="Green" font="11px 'Callibri'" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>-->
</configuration>
